* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-base-blue-300: #387E96;
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 2.6rem;

  background: var(--color-base-blue-300);
  padding: 1.2rem 2.8rem;
}

header form {
  flex: 1;
}

.input-wrapper label {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  padding: 1.2rem 1.4rem;

  border: none;
  border-radius: 4px;
  
}

.input-wrapper input::placeholder {
  font-family: 'Mulish', sans-serif;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6rem;
}

header .avatar {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

main {
  flex: 1;
}

main > img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

main .info {
  min-width: 38.2rem;
  padding: 3.2rem 2.3rem;
  margin: 0 auto;
}

.info .headline h1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
}

.headline .rate {
  display: flex;
  gap: 1.2rem;
  margin: .8rem 0 3.1rem;
}

.text p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.text p:nth-of-type(3) {
  margin-top: 2rem;
}

aside {
  /* min-width: 38.2rem; */
  padding: 0 2.3rem;
  /* margin: 0 auto; */
}

aside h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.8rem;
  margin-bottom: 3.2rem;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.6rem; 
}

.card > img {
  max-width: 38.2rem;
  height: 8.4rem;
  aspect-ratio: 16/9;
  object-fit: cover;

  border-radius: 5px;
}

.about-news h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.about-news p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

footer {
  background: var(--color-base-blue-300);
  padding: 1.6rem 0;
  margin-top: 4.1rem;
}

footer p {
  text-align: center;
  color: #FFF;

  font-size: 1.6rem;
  font-weight: 600;
}

@media (min-width: 1440px) {
  #app {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 4.4rem 3.4rem;
  }

  header,
  footer {
    grid-column: 1/3;
  }

  header {
    padding: 1.2rem 11.2rem;
  }

  main {
    padding-left: 11.2rem;
  }

  main .info {
    padding: 3.2rem 0 0;
  }

  .info .headline {
    display: flex;
    justify-content: space-between;
  }

  aside {
    padding: 0 11.2rem 0 0;
  }

  .card {
    min-width: 38.2rem;
  }
  
  footer {
    margin: 0;
  }
}